.terminal {
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  background: #0d1117;
  color: #c9d1d9;
  font: 15px monospace;
  line-height: 1.45;
}

.output {
  width: 100%;
}

.input {
  width: 100%;
}
